<!DOCTYPE HTML SYSTEM>
<html>
  <head>
    <title>${title}</title>
    <!--<meta http-equiv="cache-control" content="no-cache">
	<meta http-equiv="pragma" content="no-cache"> 
	<meta name="author" content="">
	<meta name="searchtitle" content="">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<meta name="revisit-after" content="2 days">
	<meta name="audience" content="all">
	<meta name="content-language" content="en">
	<meta name="copyright" content="">
	<meta name="robots" content="index,follow">-->
    <link rel="stylesheet" type="text/css" href="/css/diri.css"/>
  ${includes}
  </head>
  <body>
    <div id="slogan">
      <i>${slogan}</i>
    </div>
    <div id="modtime">
      <i>${modtime}</i>
    </div>		
    <div style='clear: both; padding: 0px;'></div>
    <div id="menu">
      <div id="icon">
	${icon}
	<hr>
      </div>		
      ${menu}
    </div>
    <div id="page">
      <div id="content" style="max-width: 60em;">
	${page}
      </div>
    </div>
    <div id="bot">
      <small>Dripy is based on diri from suckless.org. <br>
	This theme is taken directly from diri<br>
	Diri owned by  Anselm R. Garbe <a href="http://www.suckless.org/~arg/">Impressum</a></small>
    </div>
  </body>
</html>

